/** invoice.css
 * @package admin
 * @copyright Copyright 2025 BMH Trading
 * @version $Id: Author: oldngrey   
 * Included for aupost shipping ZC v1.5.7c; 158; 210; 220; 221; 222
 * BMH 2026-06-10 to override ZC admin settings in stylesheet.css
 * included separator for phone and email + fold line
 * css loaded from plugin structure, name MUST be in CAPS eg INVOICE.css
 */
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
    .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
     padding: 2px;
    }
/* invoice settings */ /* BMH 2026-04-14 */ /* + packingslip */
.table-invoice {
  margin-bottom: 0;
  border: 0;
  width: 90%;
}
.pageHeadingL {width: 50%; font-size: 1rem; font-weight:600;}
.pageHeadingR {height:5em;}
.pageHeadingR { width: 50%; float: right;}
.pageHeadingR img { width:100%;}
.pageHeadingTax {font-size:1.75rem; text-align:left !important;}

.address_table {font-size: 2.75rem; width: 90%; border: 0;}
.main-ship-name {font-size:1.75rem; width: 90%;}
.main-ship-name-small {font-size:1.25rem; width: 90%; }

.main-address1 {font-size: 1.25rem;}

.main-ship-name-small hr {
  border: none;
  height: 1px;
  /* background-color: grey; */
  border-top: 1px solid grey;
  margin-bottom: 2px;
}

.main-ship-name-small {
    font-size: 13px;

}

.main-ship-name-fold hr{
  border: none;
  height: 1px;
  border-top: 1px dashed grey;
  margin-top:0px !important;
  margin-bottom: 0px !important;
}