<?php
/**
 * Au Post debugging  Stylesheet
 * 2026-05-30 to clearly differentiate debugging
 * aupost 2.6.0 test css magenta
 */
?>

.aupost-debug {
    font-size: 0.9em;
    line-height:1.1em;
    color: magenta;
    
}
.aupost-debug1 textarea {
    font-size: 0.9em;
    line-height:1.0em;
    color: magenta;
    width :auto;
    min-width: 55em;
    max-width: 100%;
    height:auto;
    min-height:30em;
    overflow:auto; /* allows the box to start with no scrollbars */
    margin:0;
    
}
.aupost-debug textarea {
    font-size: 0.9em;
    line-height:1.0em;
    color: magenta;
    width :auto;
    min-width: 35em;
    max-width: 100%;
    height:auto;
    min-height:30em;
    overflow:auto; /* allows the box to start with no scrollbars */
    margin:0;
}
.aupost-debug code {
        font-size: 1em;
    line-height:1.0em;
    color: magenta;
}

table.aupost-debug-table {
        border: 1px solid magenta;
        width: 95%;
        color: magenta;
}
