/* aupost postage module debugging style sheet v3.0.0 */

p.aupost-debug, aupost-debug {
    font-size: 0.8rem;
    line-height:1.0rem;
    color: purple;
    margin-bottom: 2px;
}

table.aupost-debug, table.aupost-debug pre {
    font-size: 0.8rem;
    line-height:1.0rem;
    color: purple;
}

.aupost-debug1 textarea {
    font-size: 0.8rem;
    line-height:1.0rem;
    color: purple;
    width :auto;
    min-width: 55em;
    max-width: 100%;
    height:auto;
    min-height:30em;
    overflow:auto; /* allows the box to start with no scrollbars */
    margin:0;
}

.aupost-debug textarea {
    font-size: 0.8rem;
    line-height:1.0rem;
    color: purple;
    width :auto;
    min-width: 35em;
    max-width: 100%;
    height:auto;
    min-height:30em;
    overflow:auto; /* allows the box to start with no scrollbars */
    margin:0;
}

.aupost-debug code {
    font-size: 0.9rem;
    line-height:1.0rem;
    color: purple;
}

table.aupost-debug-table {
    border: 1px solid purple;
    width: 95%;
    color: purple;
}
